<div class="container">
    <p>Jose Luis</p>
    <p>{{mensaje}}</p>
    <img [src]="src" alt="Cargando la imagen del momento...">

    <div class="contacto">
      <h2>Contacto</h2>
      <p>Email: jlespejoaguado4@gmail.com</p>
    </div>

    <div class="descripcion-autor">
      <h2>Descripción del Autor</h2>
      <p>Soy un apasionado desarrollador web con experiencia en crear aplicaciones increíbles. Mi objetivo es hacer que la web sea un lugar más hermoso y funcional. Si tienes alguna pregunta o simplemente quieres decir hola, ¡no dudes en ponerte en contacto!</p>
    </div>
  </div>